.contact {
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    color: white;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
        flex-direction: column
    }

    .animation-wrapper {
        min-width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        height: calc(100vh - 160px);
        border: 1px solid white;
        overflow: hidden;
        
        @media screen and (max-width: 1199px) {

            height: 148px;
            min-width: 100%;
            max-width: 100%;
        }
    }

    .form-wrapper {
        min-width: calc(50% - 40px);
        max-width: calc(50% - 40px);

        // background: pink;
        flex: 1;

        display: flex;
        flex-direction: column;
        .form {
            margin-top: 32px;
        }

        @media screen and (max-width: 1199px) {
            min-width: 100%;
            max-width: 100%;
          }
    }

    .animation-wrapper, h1 , .form, .social-networks {
        opacity: 0;
        transform: translateY(24px);
    }
}