
.header {
  height: 120px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.25em;
  position: relative;
  z-index: 2;

  ul {
    list-style-type: none;
    display: flex;

    a { 
      margin-left: 104px;
    }
  }

  a { 
    color : #fafafa;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media screen and (max-width: 640px) {
    ul {
      a {
        margin-left: 24px;
      }
    }
  }
}