.homepage {
    position: relative;
    height: calc(100vh - 120px);
    width: 100vw;

  .webGL-canvas {
      height: calc(100vh - 240px);
      position: relative;
      background: #050505;
      width: 100vw;

      canvas {
        width: 100%;
        height: 100%;
      }
    
      @media screen and (max-width: 640px) {
        position: absolute;
        top: 0;
        height: 100vh;
      }
  }

  .homepage-controllers {
    display: flex;
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 640px) {
      width: 100%;
      justify-content: center;
      bottom: 16px;
    }
  }

  .homepage--fullsize {
    padding: 8px;
    margin-left: 32px;
    img {
      width: 16px;
    }
  }
}

  
 