.loader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-120px);

    .loader-wrapper {
        position: relative;
    }

    .loader-loading {
        width: 40px;
    }


    @media screen and (max-width: 640px) {
        transform: translateY(0px);
    }
    

    .loader-waiting {
        width : 80px;
        color: #fafafa;
        font-size: 32px;
        font-family: 'Roboto Mono', monospace;
        line-height: 34px;
        opacity: 0.6;
        transition: opacity 0.2s linear;

        &:hover {
            opacity: 1;
        }

        &:after {
            content: "_";
            font-family: 'Roboto Mono', monospace;
            line-height: 34px;
            margin-left: 4px;
            -webkit-animation: 1s blink step-end infinite;
            -moz-animation: 1s blink step-end infinite;
            -ms-animation: 1s blink step-end infinite;
            -o-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
          }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}

  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {

        opacity: 0;
    }
}

