.typing-title {
    color: #FAFAFA;
    position: absolute;
    bottom: 48px;
    left: 80px;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    line-height: 33px;
    font-family: 'Roboto Mono', monospace;

    @media screen and (max-width: 640px) {
        left: 40px;
        padding-right: 40px;
        font-size: 16px;
        bottom: 80px;
    }



    .blinking:after {
        content: "|";
        margin-left: 8px;
        font-family: 'Roboto Mono', monospace;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -ms-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
      }
}

@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #fafafa;
    }
  }
  
@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #fafafa;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #fafafa;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #fafafa;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #fafafa;
    }
}
